@model login_access.Models.UserSubmitModel

@{
    ViewBag.Title = "UserError";
}

<h2>User Error</h2>

<div>
   
</div>


<p>DUPLICATE, user already exists! </p>

@Html.ActionLink("Back to List", "Index")

